.loader {
  border: 6px solid #e0dfdf; /* Light grey */
  border-top: 6px solid #012060; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.4s linear infinite;
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1{ font-size: 1em; }

p{ font-size: 12px;}