<div [@routerTransition]>
    <app-page-header [icon]="'fa fa-lightbulb-o'" [menu]="'Tips'">
    </app-page-header>
    <div class="row">
      <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
          <div class="card-header">
            Tips
            <div class="card-close">
              <!--Agregar-->
              <button class="boton" (click)="openAdd(agregar,'Agregar')">
                <i class="fa fa-plus-circle"> Nuevo</i>
              </button>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Folio</th>
                    <th>Foto</th>                    
                    <th>Título</th>                    
                    <th>Contenido</th>
                    <th colspan="2" title="Modificar/Eliminar">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of tips; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{t.folio}}</td>
                    <td>
                      <img style="width: 60px;height:40px;" src="{{t.foto}}">
                    </td>                    
                    <td>                    
                      {{ (t.titulo.length>10) ? (t.titulo | slice:0:10) + '...':(t.titulo) }}
                    </td>                    
                    <td>
                      {{ (t.contenido.length>15) ? (t.contenido | slice:0:15) + '...':(t.contenido) }}
                    </td>
                    <td>                    
                      <i class="fa fa-pencil" aria-hidden="true" (click)="openEdit(t,t.folio,editar)" title="Modificar"></i>                    
                    </td>
                    <td>                    
                      <i class="fa fa-trash" aria-hidden="true" (click)="deleteTip(t)" title="Eliminar"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <app-page-loading [title]="'Cargando datos'" *ngIf="loadingDB"></app-page-loading>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Large modal -->
    <ng-template #agregar let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title">Agregar nueva tip</h5>
      </div>
      <div class="modal-body">
        <app-page-loading [title]="'Cargando imagen'" *ngIf="loadingImge"></app-page-loading>        
        <div align="center" *ngIf="newTip.foto">
          <img src={{newTip.foto}} alt="" style="width: 150px;">
        </div>
        <div class="card-body">
          <form class="form-validate" #f="ngForm">
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="form-control" accept=".png, .jpg, .jpeg"
                    (change)="onUploadImageAdd($event,newTip)" name="foto">
                </div>
              </div>
            </div>          
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Título</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  name="titulo" required [(ngModel)]="newTip.titulo">
              </div>
            </div>            
            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Contenido</span>
                <textarea class="form-control" rows="5" aria-label="small" aria-describedby="inputGroup-sizing-sm"
                  name="contenido" [(ngModel)]="newTip.contenido" required></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="addTip()"
          [disabled]="!newTip.foto || f.invalid">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModalNuevo(newTip)">Cancelar</button>
      </div>
    </ng-template>
  
    <ng-template #editar let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title">Editar tip folio: {{title}}</h5>
      </div>
      <div class="modal-body">
        <app-page-loading [title]="'Cargando Imagen'" *ngIf="loadingImge"></app-page-loading>        
        <div align="center" *ngIf="tip.foto">
          <img src={{tip.foto}} alt="" style="width: 150px;">
        </div>
        <div class="card-body">
          <form class="form-validate" #f="ngForm">
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="form-control" accept=".png, .jpg, .jpeg"
                    (change)="onUploadImageAdd($event,tip)" name="foto">
                </div>
              </div>
            </div>            
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Título</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  name="titulo" required [(ngModel)]="tip.titulo">
              </div>
            </div>            
            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Contenido</span>
                <textarea class="form-control" rows="5" aria-label="small" aria-describedby="inputGroup-sizing-sm"
                  name="contenido" [(ngModel)]="tip.contenido" required></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="editTip(tip)"
          [disabled]="!tip.foto || f.invalid">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
      </div>
    </ng-template>
  
  </div>