<div [@routerTransition]>
  <app-page-header [icon]="'fa-info-circle'" [menu]="'Acerca de'">
  </app-page-header>
  <div class="row center-blox">
    <div class="col col-xl-12 col-lg-12">
      <div class="row align-content-center">
        <div class="col-8 xl-8 col-lg-8 centrar">
          <div class="card mb-3">
            <div class="card-header">
              Información de contacto
            </div>
            <div class="card-title">
              <img class="logos float-left" src="../../../assets/images/canis.png">
              <img class="logos float-center i" src="../../../assets/images/logoutt.png">
              <img class="logos float-right" src="../../../assets/images/yilan.png">
            </div>
            <div class="card-body text-center info">
              <strong>CANIS</strong><br>
              Software desarrollado por Yilan Enterprise<br>
              Correo: yilan.enterprise@gmail.com
              <br><br><strong>Equipo de desarrollo</strong><br><br>
              <strong>Miguel Cantorio Gálvez</strong>
              <br>mike.galv0612@gmail.com<br>2382017156<br>
              <br><strong>Salvador Martínez Martínez</strong>
              <br>sag941130@gmail.com<br>2361172651<br>
              <br><strong>Betsaisa Adelina Carrera Ramírez</strong>
              <br>betsaida.carrera@alumno.uttehaucan.edu.mx<br>2382105708<br>
              <br><strong>Luis Angel Hernández Ramírez</strong>
              <br>luishernandez.02321@gmail.com<br>2381449340            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>